<footer class="site-footer">
  <div class="container-fluid">
    <div class="row" style="padding-top:20px; padding-bottom:20px;">
      <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="row">
          <div class="col-md-3 col-sm-6 col-xs-2"> <img src="//i.imgur.com/R0KwLzz.jpg" alt="Pic" class="img-circle img-responsive" style="width:100%;"></div>
          <div class="col-md-3 col-sm-6 col-xs-10"> About Me:</div>
          <div class="col-md-9 col-sm-6 col-xs-12" style="vertical-align:middle;"><h5>Hey, I'm Ryan! I live in Sydney and am a scientist and a programmer. Find out more here, or check out my links to the right.</h5></div>
      </div>
  </div>
  <div class="col-md-6 col-sm-6 col-xs-12">
    <div class="row">
      <div class="col-md-3"> Find me on:</div>
      <div class="col-md-12">
        <nav class="links" >
          <div style="display: inline-block;">
            <span class="label label-primary"><a href="mailto:{{ site.email }}" title="{{ site.email }}"><i class="fa fa-envelope"></i>Email</a></span>
            <span class="label label-primary"><a href="//github.com/{{ site.github_username }}" title="{{ site.github_username }}"><i class="fa fa-github"></i>Github</a></span>
            <span class="label label-primary"><a href="//au.linkedin.com/in/ryanbipratama/" title="ryanbipratama"><i class="fa fa-linkedin"></i>LinkedIn</a></span>
            <span class="label label-primary"><a href="//plus.google.com/u/0/+RyanbiPratama" title="+RyanbiPratama"><i class="fa fa-google-plus-square"></i>Google+</a></span>
        </div>
    </nav>
</div>
</div>
</div>
</div>
</div>
</footer>




</body>
</html>
