<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col  footer-col-1">
        <ul class="social-media-list">
          <li><i class="fa fa-envelope"></i> <a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
          <li><i class="fa fa-github"></i> <a href="//github.com/{{ site.github_username }}"><span class="username">{{ site.github_username }}</span></a></li>
          <li><i class="fa fa-linkedin"></i> <a href="//au.linkedin.com/in/ryanbipratama/"><span class="username">ryanbipratama</span></a></li>
          <li><i class="fa fa-google-plus-square"></i> <a href="//plus.google.com/u/0/+RyanbiPratama"><span class="username">RyanbiPratama</span></a></li>


        </ul>
      </div>

      <div class="footer-col  footer-col-2">

      </div>

      <div class="footer-col  footer-col-3">
        <p class="text">...</p>
      </div>
    </div>

  </div>

</footer>
