       <div style="border:1px solid #eee; padding:2px;   box-shadow: 1px 1px 2px #eee;">
          <div class="row">
            <div class="col-md-12 col-sm-6 col-xs-12"><img class="img-responsive" src="//i.imgur.com/hWjVaVn.jpg?1"></div>
            <div class="col-md-12 col-sm-6 col-xs-12">
              <div style="padding:10px;">
                <h2>Hi, I'm Ryan!</h2>
                <h4>An aspiring computational biologist, working in medical research.</h4>
                <h5>I enjoy technology news, recent finance, and of course science. Also a casual programmer and an avid news reader.</h5>
              </div>
            </div>
          </div>
        </div>