{% include head.html %}
{% include navigation.html %}


<div class="container">
  <div class="row">
      <div class="col-md-3">
        {% include nameplate.html %}
      </div>


      <div class="col-md-9">
          <div class="container-fluid">
            <div class="row">
              {% for post in site.posts limit:10 %}
              <div class="col-md-9 col-sm-9 col-xs-12 post-title"><a href="{{ post.url }}">{{ post.title }}</a></div>
              <div class="col-md-3 col-sm-3 col-xs-12">
                <div>{{ post.date | date: "%b %-d, %Y" }}{% if post.author %} • {{ post.author }}{% endif %}{% if post.meta %} • {{ post.meta }}{% endif %}</div>
                <div>
                  {% for category in post.categories %}
                  <span class="label label-default" style="text-transform:uppercase;">{{ category}}</span>
                  {% endfor %}
                </div>
              </div>
              <div class="col-md-12 col-sm-12 col-xs-12 post-content">   
                <div class="row">
                  <div class="col-sm-9">
                    {% if post.content.size > 20 %}
                    <article id="{{ post.id || replace:'/','0'  }}" class="post-content more">{{ post.content }}</article>
                    <a onclick=" $('#{{ post.id || replace:'/','0'  }}').toggleClass('more',1000);" style="display:block;" class="post-more-a "><div class="post-more "><i class="fa fa-chevron-down"></i> Read more <i class="fa fa-chevron-down"></i></div></a>
                    {% else %}
                    <article id="{{ post.id || replace:'/','0'  }}" class="post-content">{{ post.content }}</article>
                    {% endif %}
                  </div>
                </div>
              </div>
              <div class="col-md-12" style="margin-bottom:30px;">   </div>
              {% endfor %}

            </div>
          </div>
      </div>
  </div>
</div>



{% include footer.html %}